.point_data {
	list-style-type: none;
	margin: 0;
}

	.point_data li {
		border-bottom: 1px dashed #ddd;
		padding: 0.5em 0;
	}
	
		.point_data li:last-child {
			border-bottom: 0;
		}
	
	.point_data h3 {
		margin: 0;
	}
	
	.point_data__date {
		display: block;
		font-size: 0.825em;
		margin-bottom: 1em;
	}

.osd {
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	margin-bottom: 1em;
	padding: 1em 0;
}

	.osd__container {
		border: 1px solid grey;
		width: 100%;
		height: 300px;
		position: relative
	}
	
	.osd__instruction {
		margin: 1em 0 0;
	}

.pin {
	/* SVG and multiple background image support is very similar
	 * We can use it for handy fallback
	 * Reference: https://css-tricks.com/using-svg/ */
    background: url('/assets/img/marker.png');
    background-image: url('/assets/img/marker.svg'), none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    cursor: pointer;
}

	.pin__hidden {
		/* There is no reason to ever want to see the pin when hidden is applied
		 * Proactive use of !important is good, reactive is bad
		 * Reference: http://cssguidelin.es/#important */
		display: none !important;
	}

.infobox {
	background-color: rgba(255, 255, 255, 0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
	z-index: 2;
	display: none;
}

	.infobox.show {
		display: table !important;
	}
	
	.infobox__middle {
	    display: table-cell;
	    vertical-align: middle;
	}

	.infobox__content {
		background: #fff;
		border: 1px solid #666;
		overflow: scroll;
		margin-left: auto;
		margin-right: auto;
		max-width: 610px;
		width: 90%;
		padding: 1em;
	}
	
		.infobox__content iframe {
			display: block;
			margin: 1em auto;
			max-width: 610px;
			width: 100%;
		}

.transcript {
    width: auto;
}


/* JS specifics
 * .js-on is added to the body tag as the first action by deep-zoom.js.
 * If JS doesn't exist then we are not showing the OpenSeadragon container.
 * If JS is enabled then we are showing less of the timeline data, because 
 *    it gets embedded with the OSD box. */


/* JS ON */
	.js-on .point_data__content {
		display: none;
	}
	
	.js-on .point_data li {
		cursor: pointer;
	}

/* JS OFF */
	.js-off .osd {
		display: none;
	}